html, body, #root, #app, #app>div {
    height: 100%;
    width: 100%;
  }

  .bg-body-tertiary {
    width: 100%;
  }

  #root {
    padding: 0px;
    max-width: 100%;

  }

.navLinkBar{
    max-width: 40%; 
}

.websiteName{
    transform: translateX(-85px);
}

.custom-nav-bg {
  background-color: #E8ECEB;
}


.nav-link {
  padding-left: 45px !important;
  padding-right: 45px !important;
  font-size: large !important;
  width: 20vh;
  text-align: center;
  max-width: 250px;
  min-width: 200px; 
}

.nav-link.active { 
  color: #080D60;
  background-color: #d9d9d9 !important;
  border-bottom: 2px solid #080D60; /* Adjust thickness and color as needed */
}


.navbutton {
  width: 100px;
}

.single-line {
  white-space: nowrap;
}

.login-icon{
  font-size: larger;
}

.w-50 {
  width: 30%;
}

.text-center{
  text-align: center;
}

.canvas-container {
  width: 100%; /* Set the width of the canvas container */
  height: 400px; /* Set the height of the canvas container */
}

.header-component {
  color: #080D60
}

.right{
  justify-content: right;
  text-align: right;
}

.border-only-right-side {
  border-right: 2px solid black; /* Example: Adds a red border to the left side */
}

.Kimberly{
  background-color: #000033;
}

.timeline{
  color: #e09e27;
}